# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
prompt.md

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/

# clasp
.clasprc.json
.clasp.json